.buttonStyle {
    width: 100%;
    color: #000;
    --border-radius: 100px;
    text-align: center;
    padding-inline: 5%;
    position: fixed;
    left: 0;
    bottom: 5%;
}

.buttonStyle.sharePageButton {
    bottom: 2%;

}

.shareWithPartner {
    padding-block: 30px;
    --background: $primaryColor;
    --color-checked: black;
    border-radius: 35px;
    opacity: 0.8;
}

.shareWithPartner.orange {
    --background: #FF8F3D;

}