// progress bar 
ion-progress-bar {
    --background: lightgrey;
    --progress-background: #A982FF;
}

//intro 2 page 

.introImage {
    // width: 1000%;
    height: 100%;
}

.intro-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    margin-top: 20px;
    text-align: center;
    color: #fff;
    z-index: 1;
    overflow: hidden;
}

.introText {
    background-color: $primaryColor;
    // border: 1px solid #000;
    padding-top: 15%;
    padding-bottom: 10%;
}